html,
body {
  height: 100%;
}
:root {
  --lt-blue: #98c1d9;
  --md-blue: #3d5a80;
  --dk-blue: #98c1d9;
  --org-accent: #ee6c4d;
  --blk-accent: #293241;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--lt-blue);
  font-family: helvetica, sans-serif;
  position: relative;
}
.navbar {
  background-color: var(--md-blue);
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.navbar::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  border-radius: 25px;
  background-color: var(--org-accent);
}
.content {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing {
  height: 40vh;
  width: 40vh;
  background-color: var(--blk-accent);
  border-radius: 20px;
}
.splash {
  position: absolute;
  color: white;
}
.rotate {
  animation: rotate 45s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.counterrotate {
  animation: rotate 45s linear infinite;
}
@keyframes counterrotate {
  to {
    transform: rotate(-360deg);
  }
}
h1 {
  color: white;
  margin: 0;
  margin-left: 2vw;
  padding: 0;
}
