form{
    margin-top: 20px;
}

input{
    min-width: 400px;
    min-height: 40px;
    border-radius: 7px 0px 0px 7px;
    border: 0.1px solid rgb(186, 180, 180);
    padding-left: 20px;
    font-size: 14px;
}

.search-button{
    padding: 10px 12px;
    border-radius: 0px 7px 7px 0px;
    border: 0px solid black;
    background-color: rgb(161, 159, 159);
}