body{
    background-color: #f5f5f5;  
    font-family: Lato;
  }
  .profile,.content{
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
      transition: 0.5s ease;
  }
  
  label {
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    display: inline-block;
    width: 150px;
  
  }
  
  .profile{
    position: absolute;
    top: 100px;
    bottom: auto;
    left: 0;
    right: 0;
    min-height: 100%;
    height: auto;
    width: 75%;
    margin: 20px auto;
    margin-bottom: 100px;
    background-color: #fff;
    border-top: 5px solid #39cb58;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2.5px 5px #ccc;
  }
  .content{
  
    min-height: 100%;
    height: 100%;
    width: 95%;
    margin: 2.5% auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    overflow: hidden;
  }
  
  
  span.name{
    position: absolute;
    top: 20%;
    left: 25%;
    color: #555;
    font-size: 18px; 
  }
  
  
  .btn{
    /* position: absolute; */
    top: 45%;
    left: 25%;
    /* color: #fff; */
    /* background-color: rgba(57,203,88,0.65); */
    background-color: #ddd;
  
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  fieldset textarea,input{
    font-family: Open Sans;
    font-size: 15px;
    color: #333;
    background-color: #f7f7f7;
    box-shadow: 0 0 0 1px #39cb58;
    padding: 5px;
    width: 75%;
    margin: 5px auto;
    border: 0;
    border-radius: 2.5px;
    outline: 0;
    transition: 0.3s ease;
  }
  
  
  

  .grid{
    position: relative;
    width: 65%;
    float: right;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 17px;
  }
  
  .content h1{
    text-align: center;
    color: #555;
    font-family: Lato;
    font-size: 40px;
    font-weight: 200;
    margin: 5px auto 15px auto;
  }
  
  fieldset{
    text-align: center;
    margin-bottom: 10px;
    border-color: #DADADA;
    border-style: solid;
    padding: 5px;
  
  }
  fieldset:last-child{
    border-bottom: none;
  }
  input.Btn{
    width: 49%;
    float: left;
    display: block;
    margin: 40px auto;
    margin-left: 1%;
    padding: 15px 0;
    color:#333;
    font-size: 16px;
    cursor: pointer;
    background-color:lightgreen;
    transition: 0.5s ease;
  }
  
  input.delete-btn{
    width: 30%;
    float: right;
    display: block;
    margin-right: 2%;
    padding: 5px 20px;
    text-align: center;
    color:#333;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  input.Btn:hover{
    background-color: rgba(57,203,88,1);
  }
  
  input.delete-btn:hover{
    background-color:darkred;
    color:floralwhite;
  }
  
  
  @media only screen and (min-width: 768px){ /*Desktop*/
    .profile{ 
      width: 450px;
  }
  
  }